.merchant-account-password {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.row.merchant-password-account-number {
    padding: 10px;
    width: 800px;
    justify-content: end;
}
.row.upload-document-merchant {
    display: flex;
    padding: 50px;
}
.merchant_account_management {
    display: block;
}
